.product-page-container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;

  .product-list-container {
    display: grid;
    grid-template-columns: 1fr 3fr;

    .product-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 100vw;
      gap: 20px;
    }

    .filter-container {
    }

    .data {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      p {
        margin: 0;
      }

      .sort {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 8px;
        background-color: white;
        border: 1px rgb(218, 218, 218) solid;
        width: 200px;
        p {
          font-size: x-small;
          padding: 0 5px;
        }
        select {
          border: none;
          font-size: large;
        }
      }
    }
  }
}
